<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/urembo.css">
</head>
<body>
    <h1>This is Our First Heading</h1>
    <p>Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Aliquam amet consequatur,
        dolore eius eligendi,
        excepturi fugiat harum incidunt
        inventore iste nisi
        non officia pariatur provident quae
        quibusdam quisquam, velit voluptate.</p>


    <form action="">
        <label for="">Name</label>
    <input type="text" name="fname" placeholder="Enter Your Name" required> <br>

    <label for="">Email</label>
    <input type="email" name="email" placeholder="Enter Your Email"> <br>

    <label for="">Id Number</label>
    <input type="number" name="id" placeholder="Input Your Id Number" disabled> <br>

    <label for="">Gender</label> <br>
    <input type="radio" name="gender" checked>Male <br>
    <input type="radio" name="gender">Female <br>

    <label for="">Password</label>
    <input type="password" name="pass" placeholder="Enter Your Password"> <br>
    <input type="submit" name="submit" value="Submit">
    </form>

</body>
</html>









